# dependencies (bun install)
node_modules

# output
out
dist
build
*.tgz

# code coverage
coverage
*.lcov
.nyc_output

# logs
logs
*.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo
*.tsbuildinfo.*
.parcel-cache

# IDEs
.idea
.vscode
*.swp
*.swo
*~
.DS_Store

# OS files
.DS_Store
Thumbs.db

# source maps
*.map

# bun
.bun

# temporary files
*.tmp
*.temp
